/* styles.css */

.left-column {
    float: left;
    max-width: 30%;
    margin-left: 10px;
}

.right-column {
   justify-content: center;
    max-width: 70%;
    align-items: center;
    margin-left: 100px;
}

.day {
    font-weight: bold;
    margin-top: 20px;
}

.timeslot {
    margin-left: 20px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            to right,
            rgb(162, 216, 162),
            rgb(102, 194, 102)
    );
}

.tickets {
    width: 550px;
    height: fit-content;
    border: 0.4mm solid rgba(0, 0, 0, 0.08);
    border-radius: 3mm;
    box-sizing: border-box;
    padding: 10px;
    font-family: poppins;
    max-height: 96vh;
    overflow: auto;
    background: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.ticket-selector {
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    font-size: 16px;
    font-weight: 600;
}

.seats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.seats::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 220px;
    height: 7px;
    background: rgb(141, 198, 255);
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm solid rgb(180, 180, 180);
}

.item {
    font-size: 12px;
    position: relative;
}

.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 0.2mm solid rgb(120, 120, 120);
    border-radius: 0.3mm;
}

.item:nth-child(2)::before {
    background: rgb(180, 180, 180);
    outline: none;
}

.item:nth-child(3)::before {
    background: rgb(28, 185, 120);
    outline: none;
}

.all-seats {
    display: grid;
    grid-gap: 5px;
    margin: 40px 0;
    margin-top: 20px;
    position: relative;
}

.seat {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 0.5mm;
    outline: 0.3mm solid rgb(180, 180, 180);
    cursor: pointer;
}

.all-seats input:checked + label {
    background: rgb(28, 185, 120);
    outline: none;
}

.seat.booked {
    background: rgb(180, 180, 180);
    outline: none;
}

input {
    display: none;
}

.timings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.dates {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dates-item {
    width: 50px;
    height: 60px;
    background: rgb(233, 233, 233);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2mm;
    cursor: pointer;
}

.day {
    font-size: 12px;
}

.times {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.time {
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background: rgb(233, 233, 233);
    border-radius: 2mm;
    cursor: pointer;
}

.timings input:checked + label {
    background: rgb(28, 185, 120);
    color: white;
}

.price {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.total span {
    font-size: 11px;
    font-weight: 400;
}

.price button {
    background: rgb(60, 60, 60);
    color: white;
    font-family: poppins;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 2mm;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Custom CSS styles for tables */
#movies-table,
#showtimes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#movies-table th,
#movies-table td,
#showtimes-table th,
#showtimes-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

#movies-table th,
#showtimes-table th {
    background-color: #f2f2f2;
    text-align: left;
}

#movies-table th:first-child,
#showtimes-table th:first-child {
    border-top-left-radius: 5px;
}

#movies-table th:last-child,
#showtimes-table th:last-child {
    border-top-right-radius: 5px;
}

#movies-table td:last-child,
#showtimes-table td:last-child {
    text-align: center;
}


#footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1; /* Adjust the z-index as needed */
}


#footer-container a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#bottom-section {
    position: relative;
    margin-top: auto; /* Push the content above it to the top */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


